bump2version==1.0.1
watchdog==0.9.0
flake8==3.7.8
tox==3.14.0
coverage
Sphinx==3.2.1
twine==3.3.0
pytest==6.2.4
pydata-sphinx-theme
recommonmark==0.7.1
m2r2==0.3.0
sphinx-markdown-tables
sphinxemoji
nbsphinx
isort