pip==19.2.3
bump2version==1.0.1
watchdog==0.9.0
flake8==3.7.8
tox==3.14.0
coverage==4.5.4
Sphinx==3.2.1
twine==3.3.0
Click==7.0
pytest==6.2.4
ipykernel==5.3.4
matplotlib
pydata-sphinx-theme
recommonmark==0.7.1
m2r2==0.3.0